<div class="well docs-menu col-xs-12 col-sm-4 col-md-3">
  {% include search_form.html %}
  <ul class="nav nav-list">
    <li>Overview</li>
    <li><a href="{{ site.baseurl }}/docs/">Tableau Connector SDK</a></li>
    <li><a href="{{ site.baseurl }}/docs/example">Connector Examples</a></li>
    <li>Basic Concepts</li>
    <li><a href="{{ site.baseurl }}/docs/design">Design Considerations</a></li>
    <li><a href="{{ site.baseurl }}/docs/drivers">Driver Requirements</a></li>
    <li><a href="{{ site.baseurl }}/docs/dialect">Create a Dialect Definition (TDD)</a></li>
    <li><a href="{{ site.baseurl }}/docs/ui">Build the Connection Dialog with Connection Dialog v1</a></li>
    <li><a href="{{ site.baseurl }}/docs/mcd">Build the Connection Dialog with Connection Dialog v2</a></li>
    <li><a href="{{ site.baseurl }}/docs/oauth">OAuth Authentication Support</a></li>
    <li><a href="{{ site.baseurl }}/docs/tdvt">Test with the TDVT Suite</a></li>
    <li><a href="{{ site.baseurl }}/docs/tdvt-test-case">Fixing TDVT Test Failures</a></li>
    <li><a href="{{ site.baseurl }}/docs/manual-test">Run Manual QA Tests</a></li>
    <li><a href="{{ site.baseurl }}/docs/localize">Localize Your Connector</a></li>
    <li><a href="{{ site.baseurl }}/docs/package-sign">Package and Sign Your Connector for Distribution</a></li>
    <li><a href="{{ site.baseurl }}/docs/run-taco">Run Your Connector</a></li>
    <li><a href="{{ site.baseurl }}/docs/bug-artifacts">Filing a Bug with the SDK</a></li>
    <li>Reference</li>
    <li><a href="{{ site.baseurl }}/docs/api-reference">API Reference</a></li>
    <li><a href="{{ site.baseurl }}/docs/capabilities">Capabilities</a></li>
    <li><a href="{{ site.baseurl }}/docs/metadata-enumeration">Metadata Enumeration</a></li>
    <li><a href="{{ site.baseurl }}/docs/auth-modes">Authentication Modes</a></li>
    <li><a href="{{ site.baseurl }}/docs/log-entries">Signature Verification Log Entries</a></li>
    <li><a href="{{ site.baseurl }}/docs/gallery-submission">Gallery Submission Guide</a></li>
    <li>Web Data Connector</li>
        <li class="nav-header">Overview</li>
        <li>
            <a href="{{ site.baseurl }}/docs/index.html">Get Started</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_tutorial.html">Tutorial</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_use_in_tableau.html">Use a WDC in Tableau Desktop</a>
        </li>
		<li>
            <a href="{{ site.baseurl }}/docs/wdc_use_in_server.html">Use a WDC in Tableau Server</a>
        </li>

        <li class="nav-header">Basic Concepts</li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_phases.html">Lifecycle and Phases</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_library_versions.html">API Versions</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_samples.html">Samples</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_debugging.html">Debugging in the Simulator and Tableau</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_hosting_and_submissions.html">Hosting and Submitting to Community Portal</a>
        </li>

        <li class="nav-header">Advanced Concepts</li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_multi_table_tutorial.html">Multiple Tables Tutorial</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_oauth_tutorial.html">Node.js Proxy with OAuth Tutorial</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_standard_connections.html">Standard Connections</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_join_filtering.html">Join Filtering</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_custom_init_and_shutdown.html">Custom Initialization and Shutdown</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_get_data.html">Get Data: Best Practices</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_incremental_refresh.html">Incremental Refresh</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_authentication.html">Authentication</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_cors.html">Working with CORS</a>
        </li>

        <li class="nav-header">Reference</li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_resources.html">Resources</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_ref_date_formats.html">Supported Date Formats</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_faq.html">FAQ</a>
        </li>
		    <li>
		    <a href="{{ site.baseurl }}/docs/wdc_upgrade.html">Upgrading from WDC Version 1.x</a>
        </li>
        <li>
		    <a href="{{ site.baseurl }}/docs/wdc_webengine.html">Troubleshoot WDC WebEngine Issues</a>
		   </li>
    </ul>
    <li>CI Pipeline</li>
    <li><a href="{{ site.baseurl }}/docs/ci-pipeline/index.html">Your CI Pipeline</a></li>
  </ul>
</div>

